@model ChooseUserNameViewModel

<div class="row">
    @Html.Hidden("returnUrl", Model.ReturnUrl)
    <label for="chosenUser">Choose the user to log on with:</label>
    <select id="chosenUser" name="chosenUser">
        <option value="jane">Jane</option>
        <option value="graciela">Graciela</option>
        <option value="reggie">Reggie</option>
        <option value="todd">Todd</option>
    </select>
    <button id='backToApp' class="btn btn-primary" value='Back to the Application'/>
</div>

@section scripts {
    function backToApp(){
        window.location = $('#returnUrl').val();
    });
}