<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
</head>
<body>
    <hgroup>
        <h1>Unauthorized.</h1>
        <h2>You signed in successfully but you aren't authorized to access this application. Please contact your system administrator.</h2>
    </hgroup>
</body>
</html>
