body {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Calibri, Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}

/* Background Colors */
.prime-blue {
    background-color: rgb(0, 56, 101);
}   

.noDisc {
    list-style: none;
    padding-left: 0px;
}

.clear-margin {
    margin: 0px;
}

/***************************************************************************************/
/* Forms */
/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}
/***************************************************************************************/

/***************************************************************************************/
/* Bootstrap Overrides */

/* 
    (width & margin) Ensure container rows (especially colored bars) touch the left and right sides of screen.
                     Override the evil -15px Margin
    (padding) Keep text from butting again edge of screen.
*/
.row.layout {
    width: 100%;
    margin: 0px;
    padding: 10px;
}

/* 
    (width & margin) Ensure container rows (especially colored bars) touch the left and right sides of screen.
    (padding) Keep colored Navigation bar flush against edge of screen.
*/
.container-fluid.layout {
    padding-left: 0px;
    padding-right: 0px;
}
/***************************************************************************************/

/***************************************************************************************/
/* Header area */
.top-banner {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-bottom-color: rgb(120, 190, 33);
    border-bottom-width: 10px;
    border-bottom-style: solid;
    text-align: right;
}

/* Minnesota requires padding to give logo impact. */
img.mdelogo {
    float: left; 
    padding: 30px;
}

.app-title {
    font-size: 32pt; 
    font-weight: bold;
    color: rgb(0, 56, 101); 
    padding: 30px;
}

.navbar-nav a  {
    color: rgb(255, 255, 255);
}
/***************************************************************************************/


/***************************************************************************************/
/* Footer area Quick Links */
div.layout-footer {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 56, 101);
}

div.layout-footer li a {
    color: rgb(164, 188, 194);
    text-decoration: underline solid rgb(164, 188, 194);
}

div.hfooter {
    font-size: 133%;
    font-weight: bold;
}
/***************************************************************************************/

