@model AdminIndexViewModel


<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="list-group" id="admin-list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-error-threshold-list" data-toggle="list" href="#list-error-threshold" role="tab">Error Threshold</a>
                <a class="list-group-item list-group-item-action" id="list-submission-cycles-list" data-toggle="list" href="#list-submission-cycles" role="tab">Submission Cycles</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Rule Management</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Annoucements</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="nav-tabContent">
                @Html.Partial("Partials/ErrorThresholds", Model.YearsOpenForDataSubmission)
            <div class="tab-pane fade" id="list-submission-cycles" role="tabpanel" aria-labelledby="list-submission-cycles-list">
                <h4>Add Submission Cycles</h4>
                <form>
                    <div id="submission-form-rows">
                        <div id="form-row-0" class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Start Date"/>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="End Date"/>
                            </div>
                            <button class="btn btn-sm danger-red" style="float: left; margin-top: 5px;" onclick="removeSubmissionCycleRow(0)">Remove</button>
                        </div>
                    </div>
                <button class="btn btn-sm minnesota-green" style="float: right; margin-top: 5px;" onclick="insertNewSubmissionCycleRow()">Add Row</button>
                </form>
            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var originalThreshold = "";

        // Handles all functionality for table in Error Threshold tab
        $(document).ready(function () {
            $(".save-row").hide();
            $(".cancel-row").hide();

            $(".edit-row").on("click", function (event) {
                event.preventDefault();
                var tblRow = $(this).closest('tr');

                tblRow.find('.save-row').show();
                tblRow.find('.cancel-row').show();

                tblRow.find('.edit-row').hide();

                // Make the whole row editable
                tblRow.find('.row-data')
                    .attr('contenteditable', 'true')
                    .addClass('bg-warning')
                    .css('padding', '3px');

                // Save original threshold value just in case of canceled use
                originalThreshold = tblRow.find('.row-data')[0].innerText;
            });

            $(".cancel-row").on('click', function (event) {
                event.preventDefault();

                var tblRow = $(this).closest('tr');
                
                tblRow.find('.save-row').hide();
                tblRow.find('.cancel-row').hide();

                tblRow.find('.edit-row').show();

                // Make the whole row editable
                tblRow.find('.row-data')
                    .attr('contenteditable', 'false')
                    .removeClass('bg-warning')
                    .removeClass('bg-danger')
                    .css('padding', '');

                // If canceled we can put in the original data they started with.
                tblRow.find('.row-data')[0].innerText = originalThreshold;
            });

            $(".save-row").on('click', function (event) {
                event.preventDefault();
                var tblRow = $(this).closest('tr');

                // Clear all white space with regex
                var threshold = tblRow.find('.row-data')[0].innerText.replace(/\s/g, "");
                var id = tblRow[0].cells[0].innerText;

                // Validate and update the threshold
                if (isNaN(threshold)) {
                    tblRow.find('.row-data')
                        .removeClass('bg-warning')
                        .addClass('bg-danger');
                } 
                else {
                    // This is to make sure the threshold does not appear with extra white spaces.
                    tblRow.find('.row-data')[0].innerText = threshold;

                    var successValue = updateThreshold(id, threshold);
                    
                    // Ajax returns a captial T true instead of boolean
                    if (!successValue == "True") {
                        tblRow.find('.row-data')
                            .removeClass('bg-warning')
                            .addClass('bg-danger');
                    }
                    // Otherwise return it back to original state.
                    else {
                        tblRow.find('.save-row').hide();
                        tblRow.find('.cancel-row').hide();

                        tblRow.find('.edit-row').show();

                        tblRow.find('.row-data')
                            .attr('contenteditable', 'false')
                            .removeClass('bg-danger')
                            .removeClass('bg-warning')
                            .css('padding', '');
                    }
                }
            });
        });

        function updateThreshold(id, errorThreshold) {
            //todo - make async, problem with async is that the result is always undefined.
            var value;

            $.ajax({
                url: '@(Url.Action("UpdateThresholdErrorValue", "Admin"))',
                async: false,
                data: { Id: id, thresholdValue: errorThreshold },
                success: function (result) {
                    value = result;
                }
                
            });
            return value;
        }


        // Inserting and removing rows for submission cycle.
        var rowNum = 0;
        function insertNewSubmissionCycleRow() {
            rowNum++;
            var row =
                '<div id="form-row-' + rowNum + '"' + 'class="form-row">'+
                    '<div class="col">' +
                    '<input type="text" class="form-control" placeholder="Start Date"/>' +
                    '</div>' +
                    '<div class="col">' +
                    '<input type="text" class="form-control" placeholder="End Date"/>'+
                    '</div>' +
                    '<button class="btn btn-sm danger-red" style="float: left; margin-top: 5px;" onclick="removeSubmissionCycleRow(' + rowNum +')">Remove</button>' +
                '</div>';
            $('#submission-form-rows').append(row);
        }

        function removeSubmissionCycleRow(rowNumber) {
            $('#form-row-' + rowNumber).remove();
            rowNum--;
        }
    </script>
}

@*<div id="add-submission-cycle-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title">Add Submission Cycle</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div id="submission-form-rows">
                            <div id="form-row-0" class="form-row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Start Date"/>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="End Date"/>
                                </div>
                            <button class="btn btn-sm danger-red" style="float: left; margin-top: 5px;" onclick="removeSubmissionCycleRow(0)">Remove</button>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-sm minnesota-green" style="float: right; margin-top: 5px;" onclick="insertNewSubmissionCycleRow()">Add Row</button>
                </div>
                <div class="modal-footer">
                    <button class="btn minnesota-green" data-dismiss="modal">Add Submission Cycle(s)</button>
                </div>
            </div>
        </div>
    </div>*@