<div id="request-records-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 750px; margin: auto;">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title">Request Records</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="request-records-form" method="post" @*action="@Url.Action("AddNewSchoolYear", "Admin")"*@>
                    <div id="submission-form-rows" style="padding: 10px;">
                        <div id="form-row-0" class="form-row">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Record Type</th>
                                            <th>Request</th>
                                            <th>Status</th>
                                            <th>Responded to by:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Assessment Results
                                            </td>
                                            <td><input type="checkbox" name="" checked disabled value="1"></td>
                                            <td>Requested</td>
                                            <td>John Johnson</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Cumulative Files
                                            </td>
                                            <td><input type="checkbox" name="" value="1"></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Discipline Record
                                            </td>
                                            <td><input type="checkbox" name="" checked disabled value="1"></td>
                                            <td>Sent</td>
                                            <td>John Johnson</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                IEP
                                            </td>
                                            <td><input type="checkbox" name="" value="1"></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Evaluation Summary Report
                                            </td>
                                            <td><input type="checkbox" name="" checked disabled value="1"></td>
                                            <td>Requested</td>
                                            <td>John Johnson</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Immunizations
                                            </td>
                                            <td><input type="checkbox" name="" value="1"></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="form-row-1" class="form-row">
                            <div class="col-md-11">
                                Please provide method of Transmittal and address, email or fax number for each record type.
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-8 offset-md-2">
                                <textarea class="form-control" rows="2" placeholder="Enter instructions here" required style="min-width:100%"></textarea>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn prime-blue white-heavy-text">Update Record Requests</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>