@model StudentDrillDownViewModel


<div class="col-md-12 nopadding">
    <table class="table table-bordered" id="reportsTable"></table>
</div>


@if (Model.Results != null && Model.Results.Count == 0)
{
    <div class="vp-body-header col-8 justify-content-start align-self-center">No records were found.</div>
}

