<div id="view-request-modal" class="modal fade" role="dialog" aria-label="Request Records" aria-modal="true">
    <div class="modal-dialog modal-lg" style="width: 750px; margin: auto;">
        <div class="modal-content">
            <div class="modal-header prime-blue white-heavy-text">
                <h4 class="modal-title">Records Request for <span id="view-request-studentName"></span></h4>
                <button type="button" class="close white-heavy-text" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="view-request-form" method="post" action="@Url.Action("SendRecordsResponse", "Ods")">
                    <input type="hidden" id="requestId" name="requestId" />
                    <input type="hidden" id="studentId" name="studentId" />
                    <input type="hidden" id="responding-user-id" name="responding-user-id" />
                    <input type="hidden" id="responding-district-id" name="responding-district-id" />
                    <div>
                        <div id="form-row-0" class="form-row">
                            <div class="table-sm col-sm-10 offset-1" style="width: 90%">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Record Type</th>
                                            <th>Requested</th>
                                            <th>Sent</th>
                                            <th>Requested by:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Assessment Results
                                            </td>
                                            <td><input type="checkbox" name="check-assessment" id="check-assessment" disabled></td>
                                            <td><input type="checkbox" name="check-assessment-sent" id="check-assessment-sent" value="1"></td>
                                            <td><span id="status-assessment-requester" name="status-assessment-requester"></span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Cumulative Files
                                            </td>
                                            <td><input type="checkbox" name="check-cumulative" id="check-cumulative" disabled></td>
                                            <td><input type="checkbox" name="check-cumulative-sent" id="check-cumulative-sent" value="1"></td>
                                            <td><span id="status-cumulative-requester" name="status-cumulative-requester"></span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Discipline Record
                                            </td>
                                            <td><input type="checkbox" name="check-discipline" id="check-discipline" disabled></td>
                                            <td><input type="checkbox" name="check-discipline-sent" id="check-discipline-sent" value="1"></td>
                                            <td><span id="status-discipline-requester" name="status-discipline-requester"></span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                IEP
                                            </td>
                                            <td><input type="checkbox" name="check-iep" id="check-iep" disabled></td>
                                            <td><input type="checkbox" name="check-iep-sent" id="check-iep-sent" value="1"></td>
                                            <td><span id="status-iep-requester" name="status-iep-requester"></span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Evaluation Summary Report
                                            </td>
                                            <td><input type="checkbox" name="check-evaluation" id="check-evaluation" disabled></td>
                                            <td><input type="checkbox" name="check-evaluation-sent" id="check-evaluation-sent" value="1"></td>
                                            <td><span id="status-evaluation-requester" name="status-evaluation-requester"></span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Immunizations
                                            </td>
                                            <td><input type="checkbox" name="check-immunization" id="check-immunization" disabled></td>
                                            <td><input type="checkbox" name="check-immunization-sent" id="check-immunization-sent" value="1"></td>
                                            <td><span id="status-immunization-requester" name="status-immunization-requester"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-8 offset-md-2" id="transmittal-instructions" name="transmittal-instructions">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn prime-blue white-heavy-text">Update Record Requests</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
