@model ValidationWeb.ViewModels.EnvironmentViewModel

@if(Model.EnvironmentName != "Production")
{ 
    <div style="position: absolute; left: 50%; top: 0; margin-top: 15px; ">
        <div class="app-title" style="position: relative; left: -50%;">
            Environment: @Model.EnvironmentName
        </div>
    </div>
}
