<div class="row layout layout-footer">
    <div id="contact" class="noprint justify-content-center">
        <strong>Minnesota Department of Education</strong>, 1500 Highway 36 West, Roseville MN 55113 | Phone: 651-582-8200 | <a target="" href="mailto:mde.commissioner@state.mn.us">Email the Commissioner</a> | 
        <a target="" href="http://education.state.mn.us/MDE/about/map/">Directions</a> | <strong>Copyright 2017 MN DOE</strong>
    </div>
</div>


