<div id="add-submission-cycle" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header prime-blue white-heavy-text">
                <h4 class="modal-title">Add Active Dates for Collection</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div style="padding: 10px;">
                    <div id="form-row-0" class="form-row">
                        <div class="col">
                            <label for="start-date-picker">Start Date</label>
                            <input type="text" class="form-control" name="start-date-picker" id="start-date-picker" />
                        </div>
                        <div class="col">
                            <label for="end-date-picker">End Date</label>
                            <input type="text" class="form-control" name="end-date-picker" id="end-date-picker" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn prime-blue white-heavy-text" onclick="addSubmissionCycle();" data-dismiss="modal">Add Submission Cycle</button>
                </div>
            </div>
        </div>
    </div>
</div>