<div id="add-announcement-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title">Add Announcement</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="add-announcement-form" method="post" action="@Url.Action("AddAnnouncement", "Admin")">
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label for="edit-priority">Priority:</label>
                        </div>
                        <div class="col-sm-9">
                            <input id="edit-priority" name="priority" type="number" class="form-control" placeholder="0" title="Priority"/>
                        </div>
                    </div>                        
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label for="edit-message">Message:</label>
                        </div>
                        <div class="col-sm-9">
                            <textarea id="edit-message" name="message" class="form-control" rows="5" title="message" required></textarea>
                        </div>
                    </div> 
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label for="edit-contactInfo">Contact Info:</label>
                        </div>
                        <div class="col-sm-9">
                            <input id="edit-contactInfo" name="contactInfo" type="text" class="form-control" title="contactInfo"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label for="edit-linkUrl">Link Url</label>
                        </div>
                        <div class="col-sm-9">
                            <input id="edit-linkUrl" name="linkUrl" type="text" class="form-control" title="linkUrl"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label for="edit-expiration-date-picker">Expiration</label>
                        </div>
                        <div class="col-sm-9">
                            <input id="edit-expiration-date-picker" name="expiration" type="text" class="form-control" title="expiration" required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="add-announcement" class="btn minnesota-green">Add Announcement</button>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>
