@model AdminIndexViewModel

<div class="row">
    <div class="col-10">
        <div id="report-warning" class="alert alert-danger alert-dismissible" style="display:none" role="alert">
            <button id="report-warning-button" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">[close]</span>
            </button>
        </div>
    </div>
</div>
<div class="row form-group">
    <div class=" col-sm-auto">
        <button id="report-add" class="btn btn-sm prime-blue white-heavy-text">Configure New Report</button>
    </div>
    @* todo: finish server implementation *@
    @*<div class=" col-sm-auto">
        <button id="refresh-reports" class="btn btn-sm prime-blue white-heavy-text">Reset Reports</button>
    </div>*@
</div>
<div class="row tbmargin10">
    <table class="table table-sm table-responsive-md table-bordered" id="reportDefinitionsTable"></table>
</div>

<div id='reportModal' class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='report-modal-content'></div>
        </div>
    </div>
</div>

<div id='edit-reportModal' class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='edit-report-modal-content'></div>
        </div>
    </div>
</div>

