@model OdsDemographicsReportViewModel

<div class="col-md-12 nopadding">
    <table class="table table-sm table-bordered table-hover" id="reportsTable" style="width: 100%"></table>
</div>

@if (Model.Results != null && Model.Results.Count == 0)
{
    <div class="vp-body-header col-8 justify-content-start align-self-center">No records were found.</div>
}

<script type="text/javascript">
   
</script>