@model OdsIdentityIssuesReportViewModel


<div class="row tbmargin10" id="pagetop">
    <div class="vp-body-header justify-content-start align-self-center">Identity Issues Report</div>
</div>

<div class="row" id="requestedReportContent">
    <table class="table table-bordered" id="reportsTable"></table>
</div>

@section scripts {
    <script type="text/javascript">
        $(function() {

            function getDateTimeString(serverDateTime) {
                var dateTime = new Date(serverDateTime);
                return dateTime.toLocaleDateString("en-US") + '&nbsp;' + dateTime.toLocaleTimeString("en-US");
            }

            var dataTable = $('#reportsTable').DataTable({
                paging: true,
                pagingType: 'full_numbers',
                info: true,
                scrollCollapse: true,
                deferRender: true,
                searching: false,
                serverSide: true,
                processing: true,
                language: {
                    loadingRecords: 'Loading...',
                    processing: "Loading..."
                },
                dom: "<'row'<'col-md-3'l><'col-md-3 offset-6 text-right jumpToNotes'>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-md-3'i><'col-md-5 offset-4 pull-right'p>>",
                ajax: {
                    url: "@Html.Raw(Url.Action("GetIdentityIssuesReportData", new { }))"
                },
                columns: [
                    {
                        title: 'District',
                        data: 'district',
                    },
                    {
                        title: 'Date/Time',
                        data: 'date',
                        render: function(data, type, row, meta) {
                            if (type === 'display') {
                                return data == null ? "Unknown" : getDateTimeString(data);
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        title: 'API Endpoint',
                        data: 'url',
                    },
                    {
                        title: 'Response Code',
                        name: 'responseCode',
                        data: function(row, type, set) {
                            return row.responseCode + " " + row.responsePhrase;
                        }
                    },
                    {
                        title: 'Response',
                        data: 'responseBody',
                    }
                ]
            });

            $(dataTable.table().header()).addClass('table-primary');
        });
    </script>

}

