@model StudentDrillDownViewModel


<div class="col-md-12 nopadding">
    <!-- -->
    <table class="table table-bordered nowrap" id="reportsTable" style="table-layout: fixed; width: 98% !important;"></table>
</div>


@if (Model.Results != null && Model.Results.Count == 0)
{
    <div class="vp-body-header col-8 justify-content-start align-self-center">No records were found.</div>
}

<style type="text/css">
    /*// experimental*/ 
    table.dataTable {
        border: none;
    }
</style>

<script type="text/javascript">

</script>