@*
    Currently not used - expected to return in the next year.    
*@



@section scripts
{
    <script>
        $(document).ready(function() {
            $("#export").click(function() {
                //$('#dataSubmissions').table2csv({ filename: 'dataSubmissions.csv' });
            });
        });
    </script>
}

<div class="row">
    <div class="vp-body-header">Data Submissions for District  North St. Paul-Maplewood School District</div>
    <button id="newValidationButton" type="button" class="btn btn-primary white-heavy-text float-right margin10" data-toggle="modal" data-target="#NewValidationModal">Submit Data</button>

    <!-- New Validation Modal -->
    <div id="NewValidationModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Modal body...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <button id ="export" data-export="export" class="btn btn-primary white-heavy-text float-right margin10">Export</button>

    <!-- Confirm Validation Modal
    <div id="ConfirmNewValidationModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Modal body...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>-->
</div>
<div class="row tbmargin10">
    <table class="table table-sm table-responsive-md table-bordered" id ="dataSubmissions">
        <tr class="table-primary">
            <th>Submission Date/Time</th>
            <th>Initiated By</th>
            <th>School Year</th>
            <th>Completion Date/Time</th>
            <th>Unique Students</th>
            <th>Status</th>
            <th>Submission</th>
        </tr>
        <tr>
            <td>6/28/2018 3:18 PM</td>
            <td>M. Jenson</td>
            <td>2017-2018</td>
            <td>Pending</td>
            <td>New: <br />Updated: <br />Deleted: </td>
            <td>In Progress</td>
            <td>End-Of-Year Collection</td>
        </tr>
        <tr>
            <td>4/28/2018 3:18 PM</td>
            <td>M. Jenson</td>
            <td>2017-2018</td>
            <td>4/28/2018 3:21 PM</td>
            <td>New: 283<br />Updated: 0<br />Deleted: 0</td>
            <td>Completed</td>
            <td>End-Of-Year Collection</td>
        </tr>
        <tr>
            <td>4/28/2018 3:18 PM</td>
            <td>M. Jenson</td>
            <td>2017-2018</td>
            <td>4/28/2018 3:21 PM</td>
            <td>New: -<br />Updated: -<br />Deleted: -</td>
            <td><a href="#">Failed To Complete</a></td>
            <td>End-Of-Year Collection</td>
        </tr>
    </table>
</div>
