@{  Layout = null; }

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body onload="redirect()">

    Logging out, please wait...

    <script>
        function redirect() {
             window.location.href = '@Url.Action("Index")';
        }
    </script>
</body>
</html>
