body {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Calibri, Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

.vp-body-header {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 8px;
}

.container-fluid, .layout-footer {
    max-width: 1280px;
}

/* Background Colors */
.prime-blue {
    background-color: rgb(0, 56, 101);
}   

.prime-blue-text {
    color: rgb(0, 56, 101);
}
.accent-blue {
    background-color: rgb(164, 188, 194);
}   

.accent-soft-blue {
    background-color: rgb(184, 218, 255);
}   

.minnesota-green {
    background-color: rgb(120, 190, 33);
}

.minnesota-green-text {
    color: rgb(90, 143, 24);
    font-weight: bold;
}

.danger-red {
    background-color: rgb(166, 25, 46);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.white-heavy-text {
    color: rgb(255, 255, 255);
    font-weight: bold;
}   

.scrollable-row {
    overflow-y:auto;
}

.noDisc {
    list-style: none;
    padding-left: 0;
}

.clear-margin {
    margin: 0;
}

.margin10 {
    margin: 10px;
}

.tbmargin10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lrmargin0 {
    margin-left: 0;
    margin-right: 0;
}

.lrmargin10 {
    margin-left: 10px;
    margin-right: 10px;
}

.page-width {
    width: 100%;
}

.rounded-padded {
    border-radius: 15px;
    padding: 20px;
}

.district-dropdown {
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/***************************************************************************************/
/* Forms */
/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}
/***************************************************************************************/

/***************************************************************************************/
/* Nav */
.nav-link-label {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: underline;
}
/***************************************************************************************/

/***************************************************************************************/
/* Bootstrap Overrides */

/* 
    (width & margin) Ensure container rows (especially colored bars) touch the left and right sides of screen.
                     Override the evil -15px Margin
    (padding) Keep text from butting again edge of screen.
*/
.row.layout {
    width: 100%;
    margin: 0;
    padding: 10px;
}

/* 
    (width & margin) Ensure container rows (especially colored bars) touch the left and right sides of screen.
    (padding) Keep colored Navigation bar flush against edge of screen.
*/
.container-fluid.layout {
    padding-left: 0;
    padding-right: 0;
}
/***************************************************************************************/

/***************************************************************************************/
/* Header area */
.top-banner {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-bottom-color: rgb(120, 190, 33);
    border-bottom-width: 10px;
    border-bottom-style: solid;
    text-align: right;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 1280px;
}

/* Makes the blue nav bar exactly 50 pixels which is the same as the MinnesotaDOE site */
#layout-navbar {
    padding: 13px;
}

/* Hovering over tab with a dropdown will show the content inside */
.dropdown-toggle:hover .dropdown-menu {
    display: block;
}

/*Fix for the dropdown menus not dropping underneath the parent correctly*/
.dropdown-menu {
    left: initial;
}

/* Minnesota requires padding to give logo impact. */
.mdelogo {
    float: left; 
    padding: 30px;
}

.app-title {
    font-size: 24pt; 
    font-weight: bold;
    color: rgb(0, 56, 101); 
    padding: 30px;
}

ul.navbar-nav {
    width: 100%;
}

.navbar-nav a  {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 56, 101);
    padding: 0;
}

div.validation-drowdown-menu 
{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-color: rgb(120, 190, 33);
    left: initial;
}

.validation-drowdown-menu > a:hover, .validation-dropdown-toggle:hover, .validation-nav-link:hover
{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-color: rgb(120, 190, 33);
    background-color: rgb(164, 188, 194);
    color: rgb(0, 0, 0);
} 

li.dropdown.nav-item.pull-right, li.dropdown-toggle.nav-item.pull-right
{
    float: right !important;
}

/* Removes standard black arrow that has been replaced with a themed one */
li.dropdown-toggle.nav-item::after
{
    display: none;
}
/***************************************************************************************/


/***************************************************************************************/
/* Footer area Quick Links */
div.layout-footer {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 56, 101);
    padding: 0;
}

div.layout-footer li a {
    color: rgb(164, 188, 194);
    text-decoration: underline solid rgb(164, 188, 194);
}

div.hfooter {
    font-size: 133%;
    font-weight: bold;
}
/***************************************************************************************/

/***************************************************************************************/
/* Errors Detail Page*/
div.collectionFilter {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 56, 101);
}

div.collectionFilter:hover {
    margin-top: 0;
    margin-bottom: 0;
    border-color: rgb(120, 190, 33);
    background-color: rgb(164, 188, 194);
    color: rgb(0, 0, 0);
}

div.collectionFilter > a:hover {
    text-decoration: none;
    color: rgb(0, 56, 101);
}

.grid-controls {
    align-items: center;
}
.grid-controls button, .grid-controls input, .grid-controls span {
    margin: 4px;
}

.paging-offset-buttons {
    margin: 0px;
    border: 2px solid black;
    display: inline-block;
}

.page-button {
    width: 20px;
    margin: 0px;
    padding: 2px;
    text-align: center;
    border: 1px solid black;
    display: inline;
}
#pageSizeInput, #pageNumberInput {
    max-width: 50px;
    display: inline;
}

/* Allows the absolute positioning of child elements like the autocomplete results. */
th {
    position: relative;
}

th > i {
    float:right;
}

.autocomplete-suggestions {
    position: absolute;
    color: black;
    background-color: white;
    z-index: 1000;
    border: 1px solid rgb(120, 190, 33);
    overflow-y:visible
}

.auto-suggestion {
    border: 1px solid rgb(120, 190, 33);
    padding-left: 4px;
    padding-right: 4px;
}
.auto-suggestion:hover {
    background-color: rgb(120, 190, 33);
    font-weight: bold;
}
/***************************************************************************************/

/***************************************************************************************/
/* ODS Reports Page*/
.report-button-link {
    margin-left: 4px;
}
/***************************************************************************************/

/***************************************************************************************/
/* Admin/Index */

.id-hide-column {
    display: none;
}

#admin-list-tab .active{
    background-color: rgb(120, 190, 33);
    border-color: rgb(120, 190, 33);
}

#submission-form-rows .form-row {
    padding-top: 5px;
}

#add-submission-cycle-button {
    float: right;
}
/***************************************************************************************/
