body {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Calibri, Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

.vp-body-header {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 8px;
}

.container-fluid, .layout-footer {
    max-width: 1280px;
}

#overlay {
    /* From W3CSchools */
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: black 2px 2px inset;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay-text {
    /* From W3CSchools */
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/* Background Colors */
.prime-blue {
    background-color: rgb(0, 56, 101);
}

.prime-blue-text {
    color: rgb(0, 56, 101);
}

.accent-blue {
    background-color: rgb(164, 188, 194);
}

.accent-soft-blue {
    background-color: rgb(184, 218, 255);
}

.accent-minnesota-light-gray {
    background-color: #97999B;
}

.minnesota-green {
    background-color: rgb(120, 190, 33);
}

.minnesota-green-text {
    color: rgb(90, 143, 24);
    font-weight: bold;
}

.danger-red {
    background-color: rgb(166, 25, 46);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.white-heavy-text {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.scrollable-row {
    overflow-y: auto;
}

.noDisc {
    list-style: none;
    padding-left: 0;
}

.clear-margin {
    margin: 0;
}

.margin10 {
    margin: 10px;
}

.tbmargin10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lrmargin0 {
    margin-left: 0;
    margin-right: 0;
}

.lrmargin10 {
    margin-left: 10px;
    margin-right: 10px;
}

.page-width {
    width: 100%;
}

.rounded-padded {
    border-radius: 15px;
    padding: 20px;
}

.district-dropdown {
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/***************************************************************************************/
/* Forms */
/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}
/***************************************************************************************/

/***************************************************************************************/
/* Nav */
.nav-link-label {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: underline;
}

.back-link, .vp-page-link {
    background-color: rgb(0, 56, 101);
    border-radius: 4px;
    padding: 4px;
    color: white;
    margin-right: 4px;
}

    .back-link:hover, .vp-page-link:hover {
        background-color: rgb(164, 188, 194);
        border-color: rgb(120, 190, 33);
    }
/***************************************************************************************/

/***************************************************************************************/
/* Bootstrap Overrides */

/* 
    (width & margin) Ensure container rows (especially colored bars) touch the left and right sides of screen.
                     Override the evil -15px Margin
    (padding) Keep text from butting again edge of screen.
*/
.row.layout {
    width: 100%;
    margin: 0;
    padding: 10px;
}

.mainSection {
    min-height: 450px;
}

/* 
    (width & margin) Ensure container rows (especially colored bars) touch the left and right sides of screen.
    (padding) Keep colored Navigation bar flush against edge of screen.
*/
.container-fluid.layout {
    padding-left: 0;
    padding-right: 0;
}

.nopadding {
    padding: 0 !important;
}

div.dataTables_scroll {
    border-bottom: 1px solid #dee2e6;
}

/* TODO: get this to work reliably - pocky*/
/*table.dataTable > tbody > tr > td {
    max-width: 80px;
    white-space: nowrap;
    / *display: block;* /
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
}*/


/***************************************************************************************/

/***************************************************************************************/
/* Header area */
.top-banner {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-bottom-color: rgb(120, 190, 33);
    border-bottom-width: 10px;
    border-bottom-style: solid;
    text-align: right;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 1280px;
}

/* Makes the blue nav bar exactly 50 pixels which is the same as the MinnesotaDOE site */
#layout-navbar {
    padding: 13px;
}

/* Hovering over tab with a dropdown will show the content inside */
.dropdown-toggle:hover .dropdown-menu {
    display: block;
}

/*Fix for the dropdown menus not dropping underneath the parent correctly*/
.dropdown-menu {
    left: initial;
}

/* Minnesota requires padding to give logo impact. */
.mdelogo {
    float: left;
    padding: 40px;
}

.app-title {
    font-size: 24pt;
    font-weight: bold;
    color: rgb(0, 56, 101);
}

ul.navbar-nav {
    width: 100%;
}

.navbar-nav a {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 56, 101);
    padding: 0;
}

div.validation-drowdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-color: rgb(120, 190, 33);
    left: initial;
}

.validation-drowdown-menu > a:hover, .validation-dropdown-toggle:hover, .validation-nav-link:hover {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-color: rgb(120, 190, 33);
    background-color: rgb(164, 188, 194);
    color: rgb(0, 0, 0);
}

li.dropdown.nav-item.pull-right, li.dropdown-toggle.nav-item.pull-right {
    float: right !important;
}

/* Removes standard black arrow that has been replaced with a themed one */
li.dropdown-toggle.nav-item::after {
    display: none;
}
/***************************************************************************************/


/***************************************************************************************/
/* Footer area Quick Links */
div.layout-footer {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 56, 101);
    padding: 0;
}

    div.layout-footer li a {
        color: rgb(164, 188, 194);
        text-decoration: underline solid rgb(164, 188, 194);
    }

div.hfooter {
    font-size: 133%;
    font-weight: bold;
}
/***************************************************************************************/

/***************************************************************************************/
/* Errors Detail Page*/
div.collectionFilter {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 56, 101);
}

    div.collectionFilter:hover {
        margin-top: 0;
        margin-bottom: 0;
        border-color: rgb(120, 190, 33);
        background-color: rgb(164, 188, 194);
        color: rgb(0, 0, 0);
    }

    div.collectionFilter > a:hover {
        text-decoration: none;
        color: rgb(0, 56, 101);
    }

.grid-controls {
    align-items: center;
}

    .grid-controls button, .grid-controls input, .grid-controls span {
        margin: 4px;
    }

.paging-offset-buttons {
    margin: 0px;
    border: 2px solid black;
    display: inline-block;
}

.page-button {
    width: 20px;
    margin: 0px;
    padding: 2px;
    text-align: center;
    border: 1px solid black;
    display: inline;
}

#pageSizeInput, #pageNumberInput {
    max-width: 50px;
    display: inline;
}

/* Allows the absolute positioning of child elements like the autocomplete results. */
th {
    position: relative;
}

    th > i {
        float: right;
    }

.autocomplete-suggestions {
    position: absolute;
    color: black;
    background-color: white;
    z-index: 1000;
    border: 1px solid rgb(120, 190, 33);
    overflow-y: visible;
    white-space: nowrap;
}

.auto-suggestion {
    border: 1px solid rgb(120, 190, 33);
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
}

    .auto-suggestion:hover {
        background-color: rgb(120, 190, 33);
        font-weight: bold;
    }

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
    height: 100px;
}

/***************************************************************************************/

/***************************************************************************************/
/* ODS Reports Page*/
.report-button-link {
    margin-left: 4px;
}
/***************************************************************************************/

/***************************************************************************************/
/* Admin/Index */

.id-hide-column {
    display: none;
}

/*#admin-list-tab .active{
    background-color: rgb(120, 190, 33);
    border-color: rgb(120, 190, 33);
}*/

/*
.list-group {
    border-radius: 0;
}

.list-group-item {
    color: #000;
    font-size: 75%;
    background: #D9D9D6;
}

.list-group-item {
    text-decoration: none;
}

    .list-group-item {
        border-bottom: #78BE21 1px dotted !important;
    }

    .list-group-item:first-child {
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
    }

    .list-group-item:last-child {
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    
    .list-group-item:hover {
        text-decoration: underline;
        color: #196486;
        background: #D9D9D6;
    }

    .list-group-item.active {
        color: #003865;
        border-radius: 5px !important;
        background-color: #A4BCC2
    }
    */


.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}

    .list-group-item-action:hover, .list-group-item-action:focus {
        color: #196486;
        text-decoration: underline;
        background-color: #D9D9D6;
    }

    .list-group-item-action:focus {
        color: #003865;
        border-radius: 5px;
        background-color: #A4BCC2;
    }

    .list-group-item-action:active {
        color: #212529;
        background-color: #D9D9D6;
    }

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    font-size: 75%;
    color: #000;
    background: #D9D9D6;
    /*padding-left: 20px;*/
}

    .list-group-item:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .list-group-item:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    .list-group-item:hover, .list-group-item:focus {
        z-index: 1;
        text-decoration: underline;
    }

    .list-group-item.disabled, .list-group-item:disabled {
        color: #6c757d;
        background-color: #fff;
    }

    .list-group-item.active {
        z-index: 2;
        color: #003865;
        background-color: #A4BCC2;
        border-color: unset;
    }


.list-group-flush .list-group-item {
    border-top: #78BE21 1px dotted;
    border-bottom: #78BE21 1px dotted;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.list-group-flush:first-child .list-group-item:first-child {
    border-top: 0;
}

.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
}

.list-group-item.active:before {
    content: "\2b9a";
    width: 20px;
    margin-left: -15px;
    display: inline-block;
}

.list-group-item:before {
    content: "";
    width: 20px;
    margin-left: -15px;
    display: inline-block;
}

.list-group-item-primary {
    color: #004085;
    background-color: #b8daff;
}

    .list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
        color: #004085;
        background-color: #9fcdff;
    }

    .list-group-item-primary.list-group-item-action.active {
        color: #fff;
        background-color: #004085;
        border-color: #004085;
    }



#submission-form-rows .form-row {
    padding-top: 5px;
}

#add-submission-cycle-button {
    float: right;
}
/***************************************************************************************/
