<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <clear />
    <add name="Default" providerName="System.Data.SqlClient" connectionString="Data Source=#{RulesEngine.Db_DatabaseServer};Initial Catalog=#{RulesEngine.Db__DatabaseName};#{unless RulesEngine.Db_Database_UserName}Integrated Security=True#{/unless} #{if RulesEngine.Db_UserName}User ID=#{RulesEngine.Db_UserName}; Password=#{RulesEngine.Db_UserPassword}#{/if};Pooling=False;MultipleActiveResultSets=True;Connect Timeout=30" />
  </connectionStrings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender" xdt:Locator="Match(name)">
        <threshold value="Warn" xdt:Transform="Replace" />
    </appender>
    <appender name="LogFileAppender"  type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <file type="log4net.Util.PatternString" value="#{RulesEngine.Runner_LogPath}\Log[%processid].txt" xdt:Transform="Replace" />\
    </appender>
    <root>
      <level value="ERROR"  xdt:Transform="Replace"/>
    </root>
  </log4net>
</configuration>